#name-luxo {
    font-family:Arial, sans-serif;
    font-style: italic;
    color: rgb(0, 197, 241);
    margin: 4px;
    font-weight: 400;
    display: inline-block;
}

#name-Aluguel {
    margin: 0;
    font-family: Arial, sans-serif;
    font-style: italic;
    font-size: large;
    font-weight: 450;
    display: inline-block;
}

#barcologo {
    width: 45px; 
    height: 50px;
    margin-right: 10px;
    display: inline-block;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #21272B;
    padding: 20px 20px;
    color: white;
    width: 980px;
}

#barco-central {
    display: inline-block;
    width: 1020px;
}

.logo {
    display: flex;
    align-items: center;
}

.text-logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

nav {
    display: flex;
    justify-content: center;
    align-items: flex-end; /* Alinha os links na parte inferior do nav */
    height: 50px; /* Ajuste conforme necessário */
}

nav a {
    margin-top: 10px; /* Adiciona um espaço extra acima dos links */
    color: white;
    font-family: Arial, sans-serif;
    font-size: x-small;
    text-decoration: none;
    margin-left: 30px;
    margin-right: 30px;
    display: inline-block;
}


a:hover {
    color: rgb(0, 197, 241);
}

.inicial {
    position: relative;
    text-align: left;
}

.inicial img {
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.contato-box-geral {
    position: absolute;
    top: 40%;
    left: 57%;
    transform: translate(-10%, -20%);
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    display: inline-block;
}

#telefone {
  color: rgb(198, 176, 127); 
  font-size: 20px;
}

.contato-conteudo2 {
  display: inline-block; 
  margin-left: 10px;
}

.contato-conteudo3 {
  display: inline-block;
  margin-left: 10px; 
  margin-bottom: 10px;
}

#contato-texto {
  width: 300px;
  color: white; 
  font-family: Calibri; 
  font-weight: lighter; 
  font-style: italic; 
  font-size: 18px; 

}

#barco2 {
    width: 120%;
    height: 50%;
    margin-right: 10%;
    float: left;
}

#contato-destaque {
  margin-bottom: 0%; 
  width: 350px; 
  color: white; 
  font-family: Calibri; 
  font-weight: lighter; 
  font-style: italic; 
  font-size: 28px; 
}

.menu-inicial {
    display: inline-block;
}
.inicial {
    display: flex;
    align-items: center;
}
#telefone2 {
    font-family:Arial;
    font-weight: 1;
    font-style: italic;
    max-width: 70%;
}

.retangulo-destino {
    width: 458px; /* Largura do retângulo */
    height: 40px; /* Altura do retângulo */
    background-color: rgb(17, 194, 243); /* Cor sólida (azul neste caso) */
    color: white; /* Cor do texto */
    display: flex; /* Para centralizar o conteúdo dentro do retângulo */
    justify-content: ; /* Alinha o conteúdo horizontalmente */
    align-items: center; /* Alinha o conteúdo verticalmente */
    border-radius: 0px; /* (Opcional) Bordas levemente arredondadas */
    text-align: center; /* Centraliza o texto */
    margin-top: 18px;
    margin-left: 25px;
  }

  #name-destino {
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-weight: 1;
    margin-left: 5px;
  }

  #simbolodestino {
    margin-left: 3px;
  }
  
  .Texto-destino {
    margin-left: 25px;
    width: 400px;
  }

  .retangulo-frota {
    width: 458px; /* Largura do retângulo */
    height: 40px; /* Altura do retângulo */
    background-color: rgb(214, 196, 104); /* Cor sólida (azul neste caso) */
    color: white; /* Cor do texto */
    display: flex; /* Para centralizar o conteúdo dentro do retângulo */
    justify-content: ; /* Alinha o conteúdo horizontalmente */
    align-items: center; /* Alinha o conteúdo verticalmente */
    border-radius: 0px; /* (Opcional) Bordas levemente arredondadas */
    text-align: center; /* Centraliza o texto */
    margin-top: 18px;
    margin-left: 25px;
  }

  .texto-nossafrota {
    margin-left: 25px;
    width: 400px;
  }

  .imagens-nossafrota {
    width: 500px;
    margin-left: 25px;
    margin-top:;
  }

  #simbolofrota {
    margin-left: 5px;
  }

  #name-frota {
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-weight: 1;
    margin-left: 5px;
  }

  #img1 {
    margin-bottom: 11px;
    margin-right: 11px;
  }

  #img2 {
    margin-bottom: 11px;
  }

  #img3 {
    margin-right: 11px;
  }

  .imgtitulo {
    margin-left: 20px; 
    margin-top: 15px; 
    width: 35px;
    display: inline-block;
}

.nossafrota-completa {
  position: relative;
  margin-left: 485px;
  margin-top: -445px;
}


